body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

.container {
  text-align: center;
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.hero {
  margin-bottom: 80px;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

h3 {
  margin-top: 60px;
  margin-bottom: 20px;
  color: #facc15;
  font-size: 28px;
}

p {
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.6;
}

.buttons {
  margin-top: 25px;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 22px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  background: #0ea5e9;
}

.secondary {
  background: #1e293b;
  color: white;
}

.secondary:hover {
  background: #334155;
}

.skills span {
  display: inline-block;
  background: #1e293b;
  padding: 10px 18px;
  margin: 8px;
  border-radius: 20px;
  transition: 0.3s;
}

.skills span:hover {
  background: #38bdf8;
  color: black;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 25px;
  width: 280px;
  border-radius: 12px;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

footer {
  margin-top: 80px;
  font-size: 14px;
  opacity: 0.7;
}
